$TKWYcolor:#ff8001;
$DHERcolor:#d62025;
$JEcolor:#fa0d30;


.foodHeader
{
    font-weight: 500;

    &--TKWY 
    {
      @extend .foodHeader;
      color: $TKWYcolor;
    }
    &--DHER 
    {
      @extend .foodHeader;
      color: $DHERcolor;
    }
    &--JE 
    {
      @extend .foodHeader;
      color: $JEcolor;
    }
}

h1 
{
    + p 
    {
      font-weight: bold;
    }
}

.col-pixel-width-300 
{         
    width: 300px; 
}

.size-max 
{
    max-width: 800px;
    width:100%;
}

.back-to-top    
{   
    position: fixed;
    bottom: 100px;
    right: -20px;
    transform: rotate(270deg);
}

@media screen and (max-width: 800px) 
{
    img.world-map
    {
        display: none;
    }
}