.col-pixel-width-300 
{         
    width: 300px; 
}

.TKWY-headers 
{ 
    color: #ff8001
}

.DHER-headers
{
    color: #d62025
}

.JE-headers
{
    color: #fa0d30
}

.size-max 
{
    max-width: 800px;
    width:100%;
}

.table-hover tbody tr:hover td
{
    color: #ff8001;
}

.back-to-top    
{   
    position: fixed;
    bottom: 125px;
    right: -20px;
    transform: rotate(270deg);
}

@media screen and (max-width: 800px) 
{
    img.world-map
    {
        display: none;
    }
}